# ========================================
# SPRING DATASOURCE CONFIGURATION
# ========================================
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/bd_notificaciones
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres_dev

# ========================================
# SERVER CONFIGURATION
# ========================================
SERVER_PORT=8088

# ========================================
# CORS CONFIGURATION
# ========================================
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://d3utr3yg9woi1d.cloudfront.net

# ========================================
# JWT CONFIGURATION
# ========================================
JWT_SECRET=d766b3eb3a78dbbbda222d3341f38fa7e3674868102221b384598fbb596586b2
# 1000 * 60 * 60 * 24 = 86400000 (1 day)
JWT_EXPIRATION_MS=864000000

# ---------------------------------------------------------------
# RabbitMQ
# Local (Docker): amqp://guest:guest@localhost:5672
# CloudAMQP:      amqps://usuario:contrasena@host.rmq.cloudamqp.com/vhost
# ---------------------------------------------------------------
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# ========================================
# EMAIL CONFIGURATION (GMAIL SMTP)
# ========================================
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
